doctype html
html(dir="ltr" lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(property="og:title" content="")
        meta(property="og:description" content="")
        link(rel="icon" href="assets/images/favicon.ico" type="image/x-icon")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/css/intlTelInput.css")
        link(rel="stylesheet" href="assets/css/slick.css")


        noscript
            link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap")

        //- link(rel="stylesheet", href="assets/_css/app.css" media="print" onload="this.onload=null;this.removeAttribute('media');")
        link(rel="stylesheet", href="assets/css/app.min.css" media="print" onload="this.onload=null;this.removeAttribute('media');")    
        noscript
            //- link(rel="stylesheet", href="assets/_css/app.css")
            link(rel="stylesheet", href="assets/css/app.min.css")
            
        title Dashboard
    body
        include ../partials/_dashboardHeader

        .full-page-overlay-filter.d-none 
        
        main.dashboard-home
            .dashboard-container
                .welcome-to-marshad.d-flex.flex-column.gap-3.gap-lg-0.flex-lg-row.justify-content-between.align-items-center
                    .welcome-text
                        h1.text-center.text-lg-start Welcome to Marshad!
                        p.text-center.text-lg-start Your guide to choosing the right major and career path!
                    .welcome-btn 
                        a.text-decoration-none.border-0.btn-large.text-white(href="#")
                            | Discover Universities
                            img.position-absolute(src="assets/images/icons/arrowLeft.png", alt="", srcset="")
                section
                    h2 
                        | Recommendations
                    p 
                        | Please select your program
                       
                    ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                        li.nav-item(role='presentation')
                            button#pills-home-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-home' type='button' role='tab' aria-controls='pills-home' aria-selected='true') University Major
                        li.nav-item(role='presentation')
                            button#pills-profile-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-profile' type='button' role='tab' aria-controls='pills-profile' aria-selected='false') Government Scholarship Program
                        li.nav-item(role='presentation')
                            button#pills-third-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-third' type='button' role='tab' aria-controls='pills-third' aria-selected='false') Third Tab
                        li.nav-item(role='presentation')
                            button#pills-fourth-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-fourth' type='button' role='tab' aria-controls='pills-fourth' aria-selected='false') Fourth Tab
                    
                    #pills-tabContent.tab-content.position-relative 
                        include ../partials/modals/_filter-modal
                                       
                        #pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab' tabindex='0')
                            .pills-btn.position-relative.d-flex.justify-content-end.align-items-center 
                                .filter-btn.position-absolute
                                    img(src="assets/images/funnel.png", alt="", srcset="") 
                                    a(href="javascript:void(0)") Filter 
                                    img(src="assets/images/downArrow.png", alt="", srcset="") 
                            .cards-slider 
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Engineering
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/card-img-01.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Science
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/science.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Medical
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/medical.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Media
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/media.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#") 
                                        .cards.d-flex
                                            .card-text
                                                h3 Tourism
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/tourism.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Law
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/law.png", alt="")
                                       
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Engineering
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/card-img-01.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Engineering
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/card-img-01.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Engineering
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/card-img-01.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Engineering
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/card-img-01.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Engineering
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/card-img-01.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Engineering
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/card-img-01.png", alt="")         
                                
                        #pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='0')
                            .certificates-slider 
                                a.certificate-item(href="#") 
                                    .certificate-wrapper 
                                        img(src="assets/images/education_10484466 1.png", alt="")
                                        h3.certificate-text Bachelor's Degrees
                                        .certificate-detail-link 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                a.certificate-item(href="#") 
                                    .certificate-wrapper 
                                        img(src="assets/images/education_10484466 1.png", alt="")
                                        h3.certificate-text Bachelor's Degrees
                                        .certificate-detail-link
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                a.certificate-item(href="#") 
                                    .certificate-wrapper 
                                        img(src="assets/images/education_10484466 1.png", alt="")
                                        h3.certificate-text Bachelor's Degrees
                                        .certificate-detail-link 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                a.certificate-item(href="#") 
                                    .certificate-wrapper 
                                        img(src="assets/images/education_10484466 1.png", alt="")
                                        h3.certificate-text Bachelor's Degrees
                                        .certificate-detail-link
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                a.certificate-item(href="#") 
                                    .certificate-wrapper 
                                        img(src="assets/images/education_10484466 1.png", alt="")
                                        h3.certificate-text Bachelor's Degrees
                                        .certificate-detail-link
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                        #pills-third.tab-pane.fade(role='tabpanel' aria-labelledby='pills-third-tab' tabindex='0')
                            .pills-btn.position-relative.d-flex.justify-content-end.align-items-center 
                                .filter-btn.position-absolute
                                    img(src="assets/images/funnel.png", alt="", srcset="") 
                                    a(href="javascript:void(0)") Filter 
                                    img(src="assets/images/downArrow.png", alt="", srcset="") 
                            .cards-slider 
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Engineering
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/card-img-01.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Science
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/science.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Medical
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/medical.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Media
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/media.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#") 
                                        .cards.d-flex
                                            .card-text
                                                h3 Tourism
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/tourism.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Law
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/law.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Law
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/law.png", alt="")

                        #pills-fourth.tab-pane.fade(role='tabpanel' aria-labelledby='pills-fourth-tab' tabindex='0')
                            .pills-btn.position-relative.d-flex.justify-content-end.align-items-center 
                                .filter-btn.position-absolute
                                    img(src="assets/images/funnel.png", alt="", srcset="") 
                                    a(href="javascript:void(0)") Filter 
                                    img(src="assets/images/downArrow.png", alt="", srcset="") 
                            .cards-slider 
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Engineering
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/card-img-01.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Science
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/science.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                button Best Fit
                                                h3 Medical
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/medical.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Media
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/media.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#") 
                                        .cards.d-flex
                                            .card-text
                                                h3 Tourism
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/tourism.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Law
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/law.png", alt="")
                                .cards-slider-item
                                    a.text-decoration-none.cards-wrapper(href="#")
                                        .cards.d-flex
                                            .card-text
                                                h3 Law
                                                ul 
                                                    li Problem-Solving Skills 
                                                    li Mathematical Proficiency
                                                    li Analytical Thinking
                                            .card-img 
                                                img(src="assets/images/law.png", alt="")
                                       
                            
                 
                                           
                section.dashboard-career-development-stages
                    h2 
                        | Stages of career development
                    .stages-wrapper               
                        //- p.text-center These stages describe the progression that professionals often experience in their careers
                        .stages.position-relative.d-flex.justify-content-center 
                            .stage
                                h6 Stage 
                                .number 01
                                p.title.d-flex.align-items-center.gap-2 
                                    img(src="assets/images/thinking.png" alt="" srcset="") 
                                    | Explore your needs
                                .description 
                                    p Helping students identify what they need and want in life and career.
                            .stage.odd.align-self-end
                                h6 Stage 
                                .number 02
                                p.title.d-flex.align-items-center.gap-2 
                                    img(src="assets/images/research.png" alt="" srcset="") 
                                    | Explore your needs
                                .description 
                                    p Helping students identify what they need and want in life and career.
                            .stage
                                h6 Stage 
                                .number 03
                                p.title.d-flex.align-items-center.gap-2
                                    img(src="assets/images/understand-opportunity.png" alt="" srcset="")  
                                    | Explore your needs
                                .description 
                                    p Helping students identify what they need and want in life and career.
                            .stage.odd.align-self-end
                                h6 Stage 
                                .number 04
                                p.title.d-flex.align-items-center.gap-2
                                    img(src="assets/images/informed-decision.png" alt="" srcset="") 
                                    | Explore your needs
                                .description 
                                    p Helping students identify what they need and want in life and career.
                            .stage
                                h6 Stage 
                                .number 05
                                p.title.d-flex.align-items-center.gap-2 
                                    img(src="assets/images/define-your-goal.png" alt="" srcset="")
                                    | Explore your needs
                                .description 
                                    p Helping students identify what they need and want in life and career.
                            include ../partials/modals/_homepage-stages-modal      
                section.marketing 
                    h2 
                        | Marketing Section
                    .marketing-slider 
                        .marketing-item
                            .marketing-slider-content-wrapper 
                                .item-text 
                                    h3 Are you looking for Job opportunities?
                                    a(href="#") Click here
                                .item-img
                                    img(src="assets/images/Al-Dileela_logo_Color 2.png", alt="", srcset="") 
                        .marketing-item
                            .marketing-slider-content-wrapper 
                                .item-text 
                                    h3 Are you looking for Job opportunities?
                                    a(href="#") Click here
                                .item-img
                                    img(src="assets/images/Al-Dileela_logo_Color 2.png", alt="", srcset="") 
                        .marketing-item
                            .marketing-slider-content-wrapper 
                                .item-text 
                                    h3 Are you looking for Job opportunities?
                                    a(href="#") Click here
                                .item-img
                                    img(src="assets/images/Al-Dileela_logo_Color 2.png", alt="", srcset="") 
                        .marketing-item
                            .marketing-slider-content-wrapper 
                                .item-text 
                                    h3 Are you looking for Job opportunities?
                                    a(href="#") Click here
                                .item-img
                                    img(src="assets/images/Al-Dileela_logo_Color 2.png", alt="", srcset="") 
                include ../partials/_footer-footer

                    
        
        //- include ../partials/_footer
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/intlTelInput-jquery.min.js")
        script(src="assets/js/dashboard-header.js")
        script(src="assets/js/header.js")
        script(src="assets/js/home.js")
        script(type="importmap" defer).
            {
                "imports": {
                    "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
                    "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.esm.min.js"
                }
            }
        script(async, src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js", crossorigin="anonymous")
        
      
     
            //- new Popover(document.getElementById('popoverButton'))
