doctype html
html(dir="ltr" lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(property="og:title" content="")
        meta(property="og:description" content="")
        link(rel="icon" href="assets/images/favicon.ico" type="image/x-icon")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer")

        noscript
            link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap")

        //- link(rel="stylesheet", href="assets/_css/app.css" media="print" onload="this.onload=null;this.removeAttribute('media');")
        link(rel="stylesheet", href="assets/css/app.min.css" media="print" onload="this.onload=null;this.removeAttribute('media');")
        noscript
            //- link(rel="stylesheet", href="assets/_css/app.css")
            link(rel="stylesheet", href="assets/css/app.min.css")
            
        title Home page
    body
        include ../partials/_dashboardHeader
        main.scholarship
            .breadcrum-wrapper
                nav.dashboard-container.breadcrumb-nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='#') Home
                        li.breadcrumb-item.active(aria-current='page') Government Scholarship Program

            .dashboard-container
                section.scholarship-program-content
                    h1 Government Scholarship Program
                    p It is a scholarship offered by the Ministry of Education and Higher Education to graduates of high school, diplomas, bachelor's, or master's degrees, according to conditions and regulations set by the Scholarships Department, to study in Qatar at one of the ministry's accredited universities  
                    .d-flex.flex-column.flex-md-row.align-items-stretch
                        #v-pills-tab.nav.flex-column.nav-pills.me-3(role='tablist' aria-orientation='vertical')
                            a#v-pills-home-tab.nav-link(href="/scholarship-program.html" data-bs-toggle='pill--' data-bs-target='#v-pills-home--' type='button' role='tab' aria-controls='v-pills-home' aria-selected='true') Bachelor’s Degrees
                            a#v-pills-profile-tab.nav-link.active(href="#" data-bs-toggle='pill' data-bs-target='#v-pills-profile' type='button' role='tab' aria-controls='v-pills-profile' aria-selected='false') Education 
                            //- a#v-pills-messages-tab.nav-link(href="#" data-bs-toggle='pill' data-bs-target='#v-pills-messages' type='button' role='tab' aria-controls='v-pills-messages' aria-selected='false') Emiri Scholarships
                        #v-pills-tabContent.tab-content
                            #v-pills-home.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-home-tab' tabindex='0')
                                h2 Diplomas 
                                p Earned a Bachelor's Degree. providing a strong foundation and well-rounded skills  
                                .education-departments 
                                    .certificate-wrapper 
                                        h3.certificate-text Diplomas
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Bachelor's Degrees
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Bachelor's Degrees
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                   
                            #v-pills-profile.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-profile-tab' tabindex='0')
                                h2 Bachelor's Degrees 
                                p Earned a Bachelor's Degree. providing a strong foundation and well-rounded skills 
                                .education-departments 
                                    .certificate-wrapper 
                                        h3.certificate-text Mathematics
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Secondary Education Mathematics
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Education severe and profound disabilities
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text School Based Special Education
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Primary Education in Arabic Studies
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Early Childhood Special Education
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Primary Education English
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Bachelor's Degrees
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Bachelor's Degrees
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Bachelor's Degrees
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                            #v-pills-messages.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-messages-tab' tabindex='0')
                                h2 Emiri Scholarships
                                p Earned a Bachelor's Degree. providing a strong foundation and well-rounded skills  
                                .education-departments 
                                    .certificate-wrapper 
                                        h3.certificate-text Scholarships
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Bachelor's Degrees
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                                    .certificate-wrapper 
                                        h3.certificate-text Bachelor's Degrees
                                        a.certificate-detail-link(href="#") 
                                            img(src="assets/images/icons/arrow-cap-right.png", alt="", srcset="")
                            
                include ../partials/_footer-footer
       
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
        script(src="assets/js/header.js")
        script(src="assets/js/home.js")
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')
        script(type="importmap" defer).
            {
                "imports": {
                    "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
                    "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.esm.min.js"
                }
            }
        script(async, src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js", crossorigin="anonymous")
    
