doctype html
html(dir="ltr" lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(property="og:title" content="")
        meta(property="og:description" content="")
        link(rel="icon" href="assets/images/favicon.ico" type="image/x-icon")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer")

        noscript
            link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap")

        //- link(rel="stylesheet", href="assets/_css/app.css" media="print" onload="this.onload=null;this.removeAttribute('media');")
        link(rel="stylesheet", href="assets/css/app.min.css" media="print" onload="this.onload=null;this.removeAttribute('media');")
        noscript
            //- link(rel="stylesheet", href="assets/_css/app.css")
            link(rel="stylesheet", href="assets/css/app.min.css")
            
        title Success Story
    body
        include ../partials/_header
        .breadcrum-wrapper
            nav.container.breadcrumb-nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='#') Home
                    li.breadcrumb-item.active(aria-current='page') Success Story
        main
            .container
                section
                    .story-page-content-wrapper
                        .story-page-content.d-flex.flex-column-reverse.flex-lg-row
                            .story-details
                                h1 Abdullah Al-Mansoori
                                h2 Director of Qatar Career Development Center (QCDC)
                                p Thousands of our youth are graduating these days from various universities across the country. Armed with knowledge and determination to achieve their dreams, they carry with them their hopes and aspirations to the job market, to leave their mark on the country’s development journey. As graduation caps are tossed into the air in celebration, expectations, and dreams of a brighter future soar even higher.
                                p However, amidst the joy surrounding graduates and their families on this occasion, their minds must be occupied with angst about what is to come and what they will do from this point forward. As experts in career guidance and development, we present through this article a necessary piece of advice to guide our young graduates through this complex transition and acquaint  them with the basics of the work life that awaits them. Graduati on is an end to an important phase in their lives, but every ending is always a new beginning. These young people are graduating at a critical stage globally, where efforts are still underway to overcome the devastating repercussions of the COVID-19 pandemic that caused significant changes in the dynamics of the job market at a faster pace than expected.

                            .character-image
                                img(src="assets/images/success-story-character.png", alt="", srcset="")
                        .social-links-video-link.d-flex.flex-column.flex-sm-row.justify-content-between.align-items-center 
                            .social-media-links   
                                a.social-link(href="#") 
                                    img(src="assets/images/icons/x-twitter.png", alt="", srcset="") 
                                a.social-link(href="#")  
                                    img(src="assets/images/icons/instagram.png", alt="", srcset="") 
                                a.social-link(href="#")  
                                    img(src="assets/images/icons/linkedin.png", alt="", srcset="") 
                                a.social-link(href="#")  
                                    img(src="assets/images/icons/facebook.png", alt="", srcset="") 
                                a.shareStory(href="#") Share
                            .video-link 
                                a(href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop").d-flex.align-items-center
                                    | Watch video
                                    .playCircle-wrapper
                                        .playCircle 
                                            img(src="assets/images/thumbnail-play-icon.png", alt="", srcset="")   
            
            #staticBackdrop.modal.story-modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
                .modal-dialog.modal-dialog-centered
                    .modal-content
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .video-box-wrapper
                            .video-box
                                #player.player
                                    video.player_video.viewer(autoplay="autoplay" muted loop)
                                        source(src="assets/images/hero-banner-video.mp4")
                                .player_controls
                                    .progress-range(title='Jump-to')
                                        .progress-bar
                                    .left-controls
                                        span.video-title
                                            | How to use O*NET
                                    .right-controls
                                        .time
                                            span.time-elapsed 00:00 / 
                                            span.time-duration 2:38

                                  
                                
                        //- .modal-footer
                        //-     button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
                        //-     button.btn.btn-primary(type='button') Understood



                        
        include ../partials/_footer
           
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
        script(src="assets/js/videoplayer.js") 
        script(src="assets/js/header.js")
        script(src="assets/js/home.js")
        //- script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js')

        script(async, src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js", crossorigin="anonymous")
        script(type="importmap" defer).
            {
                "imports": {
                    "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
                    "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.esm.min.js"
                }
            }
        script(type="module" defer).
            import * as bootstrap from 'bootstrap'
            const progress = document.getElementById("progress");

            function progressLoop() {
            setInterval(function () {
                progress.value = Math.round((video.currentTime / video.duration) * 100);
            });
            }

            progressLoop();
     
            //- new Popover(document.getElementById('popoverButton'))