.footer-footer.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-between.row-gap-4  
    .textContent-copyright 
        a(href="#")
            | © Marshad Qatar Career Development Center © 2024
    ul.d-flex.justify-content-center.row-gap-2.flex-wrap.list-unstyled.m-0 
        li 
            a(href="#")
                | Terms of Use 
        li 
            a(href="#")
                | Cookie Policy
        li 
            a(href="#")
                | Privacy Policy 
        li 
            a(href="#")
                | Accessibility 