footer 
    .container 
        .logo   
            img(src="assets/images/marshad-logo.png", alt="")
        .footer-nav.d-flex.flex-column.flex-sm-row.row-gap-3
            .nav-links
                span Explore 
                ul    
                    li 
                        a(href="#") About us
                    li 
                        a(href="#") For Students
                    li 
                        a(href="#") Media Center
                    li 
                        a(href="#") Contact us
            .nav-links
                span Publications
                ul 
                    li 
                        a(href="#") Career Guide
                    li 
                        a(href="#") Research Papers
                    li 
                        a(href="#") Reports
                    li 
                        a(href="#") Booklets
                    li 
                        a(href="#") Handouts
            .nav-links
                span Glossary 
                ul
                    li 
                        a(href="#") About us
                    li 
                        a(href="#") For Students
                    li 
                        a(href="#") Media Center
                    li 
                        a(href="#") Contact us
        .contact-info.d-flex.flex-column.flex-md-row.align-items-md-center.justify-content-between.row-gap-4 
            .socialLinks.d-flex    
                a(href="#").facebook 
                    img(src="assets/images/icons/facebook.png", alt="", srcset="")
                a(href="#").linkedin 
                    img(src="assets/images/icons/linkedin.png", alt="", srcset="")
                a(href="#").instagram 
                    img(src="assets/images/icons/instagram.png", alt="", srcset="")
                a(href="#").twitter 
                    img(src="assets/images/icons/x-twitter.png", alt="", srcset="")
                a(href="#").youtube 
                    img(src="assets/images/icons/youtube.png", alt="", srcset="")
            a.d-none.d-md-block(href="#")
                img(src="assets/images/arrowUp.png", alt="", srcset="")
            .numEmail.d-flex.align-items-center.gap-4 
                .phoneNum.d-flex.gap-2 
                    img(src="assets/images/icons/phone-icon.svg", alt="", srcset="")
                    span +974 44546815
                .email.d-flex.align-items-center.gap-2 
                    img(src="assets/images/icons/email-icon.svg", alt="", srcset="")
                    span qcdc@qf.org.qa
        .footer-footer.d-flex.flex-column.flex-lg-row.align-items-center.justify-content-between.row-gap-4  
            .textContent-copyright 
                a(href="#")
                 | © Marshad Qatar Career Development Center © 2024
            ul.d-flex.justify-content-center.row-gap-2.flex-wrap.list-unstyled.m-0 
                li 
                    a(href="#")
                        | Terms of Use 
                li 
                    a(href="#")
                        | Cookie Policy
                li 
                    a(href="#")
                        | Privacy Policy 
                li 
                    a(href="#")
                        | Accessibility 

