#firstVisitModal.homepage-modal.modal.fade(tabindex='-1' aria-labelledby='modalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered
        .modal-content
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body.d-flex
                img(src="assets/images/join-now.png", alt="", srcset="")
                .homepage-modal-content 
                    img.align-self-center.align-self-sm-start(src="assets/images/border-line-popup.png", alt="", srcset="")
                    img.home-page-logo(src="assets/images/homepage-modal-logo.png", alt="", srcset="")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ornare eros eget justo scelerisque suscipit. Mauris mattis ex mauris, non tempus felis dapibus in.
                    a.btn-large.homepage-modal-btn.text-decoration-none.text-white(href="javascript:void(0)") Learn more