.stage-popup-wrapper
    .cross.position-absolute 
        img(src="assets/images/cross.png", alt="", srcset="")
    img(src="assets/images/border-line-popup.png", alt="")
    .stage-popup 
        h5 Explore your needs   
        p Helping students identify what they need and want in life and career.
        a.d-block.btn-large.w-100.text-white(href="#") More Info 
