.purchase-major-guide
    .close.position-absolute.bg-white 
        img(src="assets/images/cross.png", alt="", srcset="")
    .purchase-major-guide-content.d-flex
        .popup-img.d-none.d-lg-block
            img(src="assets/images/purchase-major-guide-img.png", alt="", srcset="")
        .popup-text 
            img(src="assets/images/border-line-popup.png", alt="", srcset="")   
            h6.popup-title 
                | Visit the <span>Daleela Platform</span> to schedule a session with a career counselor.
            p Browse available counselor profiles, select a suitable time slot that fits your schedule, and book your appointment
            a.d-block.text-decoration-none.btn-large.text-white.border-0(href="#") 
                | Proceed to purchase 
.full-page-overlay.d-none