

.dashboard-container {
  max-width: 1465px;
  margin: 0 auto;
  padding: 0 15px;
}
main.dashboard-home {
  background-color: map-get($map: $color-map, $key: body-bg);
  padding-top: 74px;
  overflow: hidden;

  @include media-breakpoint-down(sm){
    padding-top: 40px;
  }

 
  .welcome-to-marshad {
    padding: 40px;
    background-color: map-get($map: $color-map, $key: white);
    border-radius: 24px;
    margin-bottom: 76px;

   


    @include media-breakpoint-down(sm){
      margin-bottom: 40px;
    }

    p {
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      @include media-breakpoint-down(md){
        -webkit-line-clamp: 2;
      }

    }
    h1 {
      font-family: var(--secondary-font);
      font-weight: 700;
      font-size: 30px;
      color: map-get($map: $color-map, $key: Maroon-90);
      

      @include media-breakpoint-down(sm){
        font-size: 24px;
      }

    }
    .welcome-btn{
      a{
        display: inline-block;
        position: relative;
        overflow: hidden;
        // padding:23px 39px;
        width: 231px;
        padding-top:23px;
        padding-bottom:23px;
        padding-inline-start:39px;
        padding-inline-end:39px;
        color: map-get($map: $color-map, $key: bistre-10);
        font-weight: 700;
        font-size: 15px;
        transition: all 500ms linear;

        @include media-breakpoint-down(sm){
          padding-top:17px;
          padding-bottom:17px;
        }

        &::before{
					content:"";
					position: absolute;
					display: block;
					width: 100px;
					height: 100px;
					top: -16px;
					inset-inline-start: -194px;
					background-color: map-get($map: $color-map, $key: mobilebtn-bg);
					border-radius: 50%;
					opacity: 100%;
					transition: all 300ms linear;

				}

				img{
					top: 26px;
					transform:rotate(180deg);
					inset-inline-end: 35px;
					opacity: 0%;
					transition:all 300ms linear;
					html[dir="rtl"] & {
						transform: scaleX(1);
					}
				}

				&:hover{

					font-size: 14px;
					padding-inline-start:34px;

					img{
						inset-inline-end: 20px;
						opacity: 100%;
						@include media-breakpoint-down(lg){
							inset-inline-end: 10px;
						}
					}

					&::before{
						content:"";
						display: block;
						width: 325px;
						height: 300px;
						top: -57px;
						inset-inline-start: -26px;
						background-color:rgb(233 247 243);
						opacity: 15%;
					}
				}

        // img{
        //   transform: rotate(180deg);
        // }

      }
    } 
  }
  h2 {
    color: map-get($map: $color-map, $key: bistre-100);
    font-size: 30px;
    font-family: var(--secondary-font);
    font-weight: 700;
    margin-bottom: 32px;
    @include media-breakpoint-down(sm){
      font-size: 24px;
    }
  }
/* purgecss start ignore */
  .showFilterBox{
    inset-inline-end: calc(100% - 1424px) !important;
    @media (max-width:1450px){
      inset-inline-end: 0% !important;
    }

  }


  .tab-content{


    
    .filter-box{
      padding: 40px;
      z-index: 9999;
      max-width: 465px;
      border-radius: 20px;
      inset-inline-end: -2760px;
      width: 100%;
      transition: all 500ms linear;
      background-color:map-get($map: $color-map, $key: white);
      .filter-box-content{
        padding:28px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        &:last-child{
          padding-bottom:0;
          border-bottom: 0;
        }
      }
      h4{
        font-size: 12px;
        color: map-get($map: $color-map, $key: Maroon-90);
        margin-bottom:0;
      }
      p{
        color: map-get($map: $color-map, $key: black-80);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      label{
        cursor: pointer;
        padding:8px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        max-width: 123px;
        border-radius: 8px;
        font-size: 14px;
        border:1px solid map-get($map: $color-map, $key: black-40)
        
      }
      input[type="checkbox"]{
        -webkit-appearance: initial;
        appearance: initial;
        width: 17px;
        height: 17px;
        border: none;
        background: map-get($map: $color-map, $key: bone-60);
        position: relative;
        border-radius: 3px;
        color: map-get($map: $color-map, $key: white);
    }
    input[type="checkbox"]:checked {
        
        
    }
    input[type="checkbox"]:checked:after {
        /* Heres your symbol replacement - this is a tick in Unicode. */
        content: "\2714";
        color: black;
        /* The following positions my tick in the center, 
         * but you could just overlay the entire box
         * with a full after element with a background if you want to */
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: -13px;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        /*
         * If you want to fully change the check appearance, use the following:
         * content: " ";
         * width: 100%;
         * height: 100%;
         * background: blue;
         * top: 0;
         * left: 0;
         */
    }
    // input[type="checkbox"]:checked::before{
    //     content:"";
    //     height: 34px;
    //     width: 124px;
    //     background-color: #503f3f;
    //     position: absolute;
    //     z-index: -1;
    //     border-radius: 8px;
    // }
    }
    .pills-btn{
      .filter-btn{
        top:-66px;
        display: flex;
        align-items: center;
        column-gap: 11px;
        background-color: map-get($map: $color-map, $key: white);
        padding:12px 20px; 
        border-radius: 16px;
        border: 1px solid map-get($map: $color-map, $key: filter-border);

        @include media-breakpoint-down(md){
          top:-213px
        }
        a{
          text-decoration: none;
          color: map-get($map: $color-map, $key: black-90);
  
        }
      }
    }
    
  }

  .nav-pills .nav-link {
    padding: 15px 32px;
    background-color: map-get($map: $color-map, $key: box-border-color);
    border-radius: 16px;
    margin-inline-end: 12px;
    color: map-get($map: $color-map, $key: black-90);
    @include media-breakpoint-down(sm){
      padding:15px 13px
    }
  }
  .nav-pills .nav-link.active {
    background-color: map-get($map: $color-map, $key: maroon-80);
    color: map-get($map: $color-map, $key: white);
  }

  .nav{
    row-gap: 12px;
    padding-inline-start:0;
  }
  .cards-slider {
    @include sliderDots(bone120, bg-primary);
    .slick-dots {
      bottom: 0px;
      margin: 0;

      @include media-breakpoint-down(lg) {
        margin: 0 23px;
        bottom: 15px;
      }

      @include media-breakpoint-down(sm) {
        margin: 0 17px;
        bottom: 15px;
      }
    }
    .slick-prev {
      inset-inline-start: -96px;
      @media (max-width: 1590px) {
        inset-inline-start: -73px;
      }
      &::before {
        content: "";
        background-color: rgb(243 170 158) !important;
        background: url("../images/icons/arrow-cap-left.png");
        background-repeat: no-repeat;
        background-position: center;
        font-family: "Font Awesome 6 Free", sans-serif;
        font-size: 18px;
        color: #503f3f;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid map-get($map: $color-map, $key:Bone-70);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        @include rtl {
          transform: rotate(180deg);
        }
      }
      @include media-breakpoint-down(lg) {
        display: none !important;
      }
    }

    .slick-next {
      inset-inline-end: -60px;
      @media (max-width: 1590px) {
        inset-inline-end: -36px;
      }
      &::before {
        content: "";
        background-color: rgb(243 170 158) !important;
        background: url("../images/icons/arrow-cap-right.png");
        background-repeat: no-repeat;
        background-position: center;
        font-family: "Font Awesome 6 Free", sans-serif;
        font-size: 18px;
        color: #503f3f;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid map-get($map: $color-map, $key:Bone-70);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        @include rtl {
          transform: rotate(180deg);
        }
      }
    }

    .slick-next.slick-arrow.slick-disabled {
      &::before {
        background-color: map-get($map: $color-map, $key: bone);
      }
    }
    .slick-prev.slick-arrow.slick-disabled {
      &::before {
        background-color: map-get($map: $color-map, $key: bone);
      }
    }
    .slick-prev,
    .slick-next {
      top: 41%;
    }
  }

  .cards-slider {
    padding-bottom: 60px;

    .slick-slide{
      margin:0 5px;
    }
  
  }

  .cards-slider-item {
    margin-top: 5px;
    margin-bottom:5px;
    .cards-wrapper {
      // display: grid;
      // grid-template-columns: auto;
      // grid-template-rows: auto auto;
      // column-gap: 15px;
      // row-gap: 20px;
      // margin:0 5px;
      color: map-get($map: $color-map, $key: black-80);
      .cards {
        
        // cursor: pointer;
        max-width: 470px;
        min-width: 100%;
        width: 100%;
        border-radius: 20px;
        justify-content: space-between;
        padding: 20px;
        background-color: map-get($map: $color-map, $key: white);
        column-gap: 22px;
        transition: all 500ms ease-in-out;
        .card-text {
          max-width: 228px;
          width: 100%;
          button{
            display: inline-block;
            text-decoration: none;
            font-size: 11px;
            font-weight: 700;
            color: map-get($map: $color-map, $key: white);
            padding: 10px 15px;
            background-color: map-get($map: $color-map, $key: maroon-80);
            border-radius: 48px;
            margin-bottom: 8px;
            border: 0;
          }
        }
        
        h3 {
          font-weight: 500;
          font-size: 24px;
          color: map-get($map: $color-map, $key: black-80);
          margin-bottom: 25px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        ul {
          padding-inline-start: 28px;
          li {
           
            // display: -webkit-box;
            // -webkit-line-clamp: 1;
            // -webkit-box-orient: vertical;
            // overflow-y: hidden;

            width: 228px;
            font-size: 16px;
          }
        }
        .card-img {
          display: flex;
          justify-content: flex-end;
          overflow: hidden;
          border-radius: 15px;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          img {
            width: 180px;
            height: 197px;
            object-fit: cover;
            transition: transform 500ms ease-in-out;
          }
          @include media-breakpoint-down(sm){
            display:none;
          }
        }
       
        
      }
     
    }
    &:hover {
      .cards{
        background-color: map-get($map: $color-map, $key: box-border-color);
        border: 1px solid map-get($map: $color-map, $key: Maroon-90);
        .card-img {
          img {
            transform: scale(1.3);
          }
        }
      }
     
      
    }
  }
}

.certificates-slider{
    padding: 32px 0;

    @include sliderDots(bone120, bg-primary);
    .slick-dots {
      bottom: -16px;
      margin: 0 15px;

      @include media-breakpoint-down(lg) {
        margin: 0 23px;
        bottom: -15px;
      }

      @include media-breakpoint-down(sm) {
        margin: 0 17px;
        bottom: -15px;
      }
    }

    .slick-prev {
        inset-inline-start: -96px;
        @media (max-width: 1590px) {
          inset-inline-start: -73px;
        }
        &::before {
          content: "";
          background-color: rgb(243 170 158) !important;
          background: url("../images/icons/arrow-cap-left.png");
          background-repeat: no-repeat;
          background-position: center;
          font-family: "Font Awesome 6 Free", sans-serif;
          font-size: 18px;
          color: #503f3f;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 1px solid map-get($map: $color-map, $key:Bone-70);
          width: 56px;
          height: 56px;
          border-radius: 50%;
          @include rtl {
            transform: rotate(180deg);
          }
        }
        @include media-breakpoint-down(lg) {
          display: none !important;
        }
      }
  
      .slick-next {
        inset-inline-end: -60px;
        @media (max-width: 1590px) {
          inset-inline-end: -36px;
        }
        &::before {
          content: "";
          background-color: rgb(243 170 158) !important;
          background: url("../images/icons/arrow-cap-right.png");
          background-repeat: no-repeat;
          background-position: center;
          font-family: "Font Awesome 6 Free", sans-serif;
          font-size: 18px;
          color: #503f3f;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 1px solid map-get($map: $color-map, $key:Bone-70);
          width: 56px;
          height: 56px;
          border-radius: 50%;
          @include rtl {
            transform: rotate(180deg);
          }
        }
      }
  
      .slick-next.slick-arrow.slick-disabled {
        &::before {
          background-color: map-get($map: $color-map, $key: bone);
        }
      }
      .slick-prev.slick-arrow.slick-disabled {
        &::before {
          background-color: map-get($map: $color-map, $key: bone);
        }
      }
      .slick-prev,
      .slick-next {
        top: 41%;
      }

      .certificate-item{
        margin: 0 15px;
        text-decoration: none;
        color: #333333;
      }

    
}

/* purgecss end ignore */

.certificate-wrapper{
    background-color: map-get($map: $color-map, $key: white);
    display: flex;
    align-items: center;
    max-width: 460px;
    min-width: 100%;
    width: 100%;
    padding:46px 36px;
    border-radius: 17px;
    column-gap: 23px;
    z-index: 1;
  cursor: pointer;
  > img{
    width:78px;
    height: auto;
    object-fit: cover;
  }
  @include media-breakpoint-down(sm){
    padding:16px;
  }
 
  .certificate-text{
      font-size: 20px;
      font-weight: 600;
      max-width: 208px;
      margin-bottom: 0;
      z-index: 9999;
      transition:color 500ms ease;
  }
  .certificate-detail-link{
      border: 1px solid map-get($map: $color-map, $key: hero-subtitle);
      height: 56px;
      width: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-inline-start:auto;
      z-index: 9999;
      transition:background-color 500ms ease;

      @include media-breakpoint-down(sm){
        height: 32px;
        width: 47px;
      }

      img{
          margin: 0;
          html[dir="rtl"] & {
            transform: scaleX(-1);
          }
      }
  }
} 

/* purgecss start ignore */

.dashboard-career-development-stages {
  overflow: hidden;

  .stage-popup-wrapper {
    .cross {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: map-get($map: $color-map, $key: white);
      width: 40px;
      height: 40px;
      top: -26px;
      inset-inline-end: -48px;
      cursor: pointer;

      @include media-breakpoint-down(md) {
        top: 7px;
        inset-inline-end: 7px;
      }
    }
    padding: 50px 70px;
    max-width: 598px;
    position: absolute;
    z-index: 9999;
    border-radius: 35px;
    top: 12px;
    transition: inset-inline-end 200ms linear;
    inset-inline-end: -660px;
    background-color: map-get($map: $color-map, $key: white);
    // transform: translate(660px, 0px);
  }
  .stage-popup {
    text-align: center;

    h5 {
      font-family: var(--secondary-font);
      font-size: 30px;
      color: map-get($map: $color-map, $key: Maroon-90);
      margin-top: 32px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 32px;
      font-size: 16px;
      color: map-get($map: $color-map, $key: black-80);
    }
    a {
      text-decoration: none;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  .stages-wrapper {
        background-color: map-get($map: $color-map, $key: white);
        border-radius: 32px;
        padding: 76px 0px 50px;
        margin-bottom:163px;

        @include media-breakpoint-down(sm){
          margin-bottom: 40px;
          padding-top:25px;
        }

        p {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        }
        .stages {
        background: url("../images/zigzag.png");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center 96px;
        height: 420px;
        column-gap: 68px;
        align-items: flex-start;
        @include media-breakpoint-down(xxl) {
            background: none;
        }
        @include media-breakpoint-down(xl) {
            flex-wrap: wrap;
            height: auto;
        }
        .stage {
            display: flex;
            flex-direction: column;
            max-width: 231px;
            align-items: center;
            margin-top: 35px;
            h6 {
            color: map-get($map: $color-map, $key: bistre-90);
            margin-bottom: 20px;
            }
            .number {
            cursor: pointer;
            background-color: map-get($map: $color-map, $key: bistre-40);
            width: 50px;
            height: 50px;
            border: 4px solid white;
            font-weight: 500;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-bottom: 32px;
            }

            p {
            text-align: center;
            }
            .title {
            height: auto;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: map-get($map: $color-map, $key: Maroon-90);
            font-weight: 700;
            font-size: 16px;
                > img {
                    width: 18px;
                    height: 18px;
                }
            }
            .description {
            height: 81px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
            .stage.odd {
                margin-bottom: 22px;
            }
        }
    }

  .showPopup {
    inset-inline-end: 430px !important;
    @include media-breakpoint-down(xxl) {
      inset-inline-end: 300px !important;
    }
    @include media-breakpoint-down(lg) {
      inset-inline-end: 100px !important;
    }
    @include media-breakpoint-down(md) {
      inset-inline-end: 0px !important;
    }
  }
}
/* purgecss end ignore */


.marketing-slider{
    padding-bottom:60px;
    .marketing-item{
      margin:0 7px;
      @include media-breakpoint-down(sm){
          margin: 0 3px;
      }
    }
    .marketing-slider-content-wrapper{
        display: flex;
        column-gap: 24px;
        justify-content: space-between;
        padding:46px 30px 20px;
        border: 1px solid map-get($map: $color-map, $key: maroon-70);
        max-width: 459px;
        min-width: 100%;
        border-radius: 20px;
        background-color: map-get($map: $color-map, $key: card-bg);
        
        @include media-breakpoint-down(sm){
          padding:15px 13px 15px;
          column-gap: 3px;
        }
        .item-text{
            max-width: 215px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3{
                font-size: 24px;
                margin-bottom: 46px;
                display: -webkit-box;
                // -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                min-height: 86px;
                @include media-breakpoint-down(sm){
                  font-size: 18px;
                }
            }

            a{
                background-color: map-get($map: $color-map, $key: maroon-70);
                color: white;
                text-decoration: none;
                padding:10px 29px;
                border-radius: 12px; 
                font-size: 14px;
                font-weight: 500;
                max-width: 125px;
                
            }
        }
        .item-img{
          img{
            width:90px;
            height: 55px;
            object-fit: cover;
            
          }
        }
    }
  }

  .marketing-slider{
    .slick-slide {
      height: auto !important;
    }

    .slick-list{
      .slick-track{
        display: flex !important;
        align-items: stretch !important;
        .marketing-item{
          height: auto;
          .marketing-slider-content-wrapper{
            height: 100%;
          }
        }
      }
    }

   
  }
 

  @include footer-footer;
  
  .footer-footer{
    border-top: 1px solid map-get($map: $color-map, $key: bone);
    padding-top:24px;
    padding-bottom:45px;
      a{
        font-size: 16px;
        color:map-get($map: $color-map, $key:black-80) !important;
      }
    
  }

  