header.header-dashboard{
    background-color:map-get($map: $color-map, $key:body-bg);
    padding:0;
    .header-content-wrapper{
        background-color: map-get($map: $color-map, $key: white);
        border-radius: 0 0 50px 50px;
        padding:69px 57px;
        transition:border-radius 500ms ease;

        @include media-breakpoint-down(lg){
            padding:44px 22px;
        }
        @include media-breakpoint-down(sm){
            padding:28px 10px;
            border-radius: 0;
        }

        .header-content{
           
            .logo-image{
                img{
                    width: 171px;
                    height: 76px;
                    object-fit: contain;
                    @include media-breakpoint-down(sm){
                        width:86px;
                        object-fit:contain;
                    }
                }
            }
            .search-form-buttons{
                max-width: 920px;
                width: 100%;
                justify-content: end;
                align-items: center;
                column-gap: 10px;  
                .searchInput{
                    max-width: 613px;
                    width: 100%;
                    form{
                        margin-bottom: 0;
                    }
                    .search-icon{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: map-get($map: $color-map, $key: Maroon-90);
                        top:6px;
                        inset-inline-end: 6px;

                        @include media-breakpoint-down(xl){
                            top:-17px
                        }
                        @include media-breakpoint-down(sm){
                            top:-21px
                        }

                        img{
                            inset-inline-end: 0;
                        }
                    }
                    #searchInput{
                        padding: 12px 51px 12px 30px;
                        border-radius: 78px;
                        max-width: 613px;
                        border: 1px solid map-get($map: $color-map, $key:header-search-border);
                        width: 100%;
                        @include media-breakpoint-down(xl){
                            max-width: 400px;
                        }

                        &::placeholder{
                            font-size: 16px;
                        }
                        
                    }
                }
                .lang-switcher-signup{
                    display: flex;
                    column-gap: 10px;
                    a{
                        border-radius: 16px;
                        background-color: map-get($map: $color-map, $key: bistre-10);
                        border: 0;
                        padding:13px 27px;
                        font-weight: 700;

                        @include media-breakpoint-down(sm){
                            border-radius: 8px;
                            padding: 7px 14px;
                        }
                    }
                    .lang{
                        background-color: transparent;
                        border: 1px solid rgba(0, 0, 0, 0.4);
                        color: map-get($map: $color-map, $key: bistre-90);
                        font-weight: 700;
                        html[dir="rtl"] & {
                            font-family: var(--GE_SS_Two);
                        }
                    }
                    .lang:nth-of-type(1){
                        font-family: var(--GE_SS_Two);
                        html[dir="rtl"] & {
                            font-family: var(--primary-font);
                        }
                    }
                }
                

            }
            


        }

        .mobile-link{
            color: map-get($map: $color-map, $key: bistre-90);
            margin-top:12px;

            @include media-breakpoint-down(md){
                font-size: 14px;
            }
        }

    } 
}

.search-box{
    width: 100%;
    position: absolute;
    background-color:map-get($map: $color-map, $key: body-bg);
    transition:transform 500ms linear;
    transform: translate(0, -700px);
    padding:93px 0 163px;
    box-shadow: 0px 4px 164px 0px rgba(0, 0, 0, 0.25);
    z-index:2;

    @include media-breakpoint-down(md){
        padding-bottom:60px;
    }

    @include media-breakpoint-down(sm){
        padding-bottom: 30px;
    }

    .cross-searchBox{
        position: absolute;
        background-color: map-get($map: $color-map, $key: white);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top:40px;
        inset-inline-end: 60px;

        @include media-breakpoint-down(md){
            top:20px;
            inset-inline-end: 16px;
        }
    }
    // transform: translate(0, -542px);
    .searh-box-title{
        // font-family:var(--secondary-font);
        font-weight: 600;
        font-size: 26px;
        color: map-get($map: $color-map, $key: bistre-10);
        margin-bottom: 35px;

        @include media-breakpoint-down(sm){
            margin-bottom: 26px;
        }
    
    }
    fieldset{
        display: flex;
        column-gap: 17px;
        @include media-breakpoint-down(md){
            flex-direction: column;
            align-items: flex-start;
        }
        .search-btn{
            background-color: map-get($map: $color-map, $key: bistre-10);
            color: map-get($map: $color-map, $key: white);
            padding:15px 54px;
            border: 0;
            border-radius: 100px;
            font-size: 20px;
        }
    }
    .search-textBox-wrapper{
        max-width: 960px;
        width: 100%;
        img{
            inset-inline-start: 20px;
            inset-block-start: 14px;
        }
        .search-textBox{
            // border: 1px solid map-get($map: $color-map, $key: maroon-40);
            width: 100%;
            padding-top:16px;
            padding-bottom:16px;
            padding-inline-end:16px;
            padding-inline-start:67px;
            border-radius: 100px;
            border: 0;
            box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.1);


        }

    }

    h4{
        // font-family: var(--secondary-font);
        font-size: 18px;
        font-weight: 600;
        color: map-get($map: $color-map, $key: grey);
        margin-top:33px;
        margin-bottom: 28px;

        @include media-breakpoint-down(sm){
            margin-top:25px;
            margin-bottom: 18px;
        }

    }

    .recent-searches{
        display: flex;
        column-gap: 8px;
        flex-wrap: wrap;
        row-gap: 21px;
        .recent-search-item{
            position: relative;
            img{
                position: absolute;
                inset-block-start: 10px;
                inset-inline-end: 16px;
            }
        }
        
        .university{
            padding: 11px 18px;
            padding-inline-end:39px;
            background: map-get($map: $color-map, $key: black-dim);
            text-decoration: none;
            border-radius: 100px;
            color: map-get($map: $color-map, $key: black);
            font-size: 14px;
        }
        .university.active{
            background: map-get($map: $color-map, $key: bistre-10);
            color: map-get($map: $color-map, $key: white);
        }
    }
   
}



.dashboard-header-modal{
    .modal-dialog{
        max-width: 1137px;
        .btn-close{
           width: 31px;
           height: 31px;
           border-radius: 50%;
           position: absolute;
           right:-38px;
           top:-38px;
           background-color: map-get($map: $color-map, $key: white);
           opacity: 100%;
           font-size: 12px;
           
           @include media-breakpoint-down(xxl){
            right: 15px;
            top: 15px;
            z-index: 9999;
            background-color: none;
            border-radius: 0;
           }
          
        }
        .modal-content{
            border-radius: 32px;
        }
    }
    .modal-body{
        padding: 0;
        .password-field{
            img{
                inset-inline-end: 20px;
                top:24px;
            }
        }
    }
    .modal-body-content-wrapper{
        
        .img-content{
            background-color: map-get($map: $color-map, $key: bone);
            border-radius: 32px 35px 0 32px;
            display: flex;
            align-items: center;
            padding:0 34px;

          @include media-breakpoint-down(lg){
            display: none;
          }

        }
        .form-content{
            padding-top:155px;
            padding-bottom:155px;
            padding-inline-start:70px;
            padding-inline-end:130px;

            @include media-breakpoint-down(xl){
                padding-inline-start:30px;
                padding-inline-end:30px;
            }
            @include media-breakpoint-down(md){
                padding-top:50px;
                padding-bottom:15px;
            }

            h2{
                // font-family: var(--secondary-font);
                font-size: 32px;
                font-weight: 700;
                color: map-get($map: $color-map, $key:bg-primary );
                margin-bottom: 24px;
            }
            p{
                font-size: 18px;
                color:map-get($map: $color-map, $key: black-80);
                font-weight: 500;
                margin-bottom:44px;
            }
            label{
                font-size: 16px;
                color: map-get($map: $color-map, $key: black);
                margin-bottom:6px;
            }
            input{
                margin-bottom:17px;
                padding: 18px 20px;
            }
            select{
                padding: 18px 20px;
                border: 1px solid #dee2e6;
                border-radius: 0.375rem;
            }
            input[type="submit"]{
                margin-top: 40px;
            }

            input[type=number]::-webkit-outer-spin-button,
            input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            
            .signup-message{
                font-size: 14px;
                color: map-get($map: $color-map, $key: black-70);
                a{
                    font-size: 14px;
                    color: map-get($map: $color-map, $key: active-breadcrumb);
                    font-weight: 600;
                    text-decoration: none;
                  
                    border-bottom:1px solid map-get($map: $color-map, $key: active-breadcrumb);

                }
            }
            
        }
        .form-content.signup{

            padding-top:30px;
            padding-bottom:14px;

        }
    }

}

/* purgecss start ignore */ 

.form-content {
    .iti{
      display: block;
      margin-bottom: 17px;
    }

//    .iti .iti__selected-flag .iti__flag{
        // height: 22px;
        // width: 22px;

        // border: 1px solid map-get($map: $color-map, $key: black-40);
        // border-radius: 50%;

        // background-size: contain;
    // }

    .iti--separate-dial-code .iti__selected-flag{
        background: transparent;
    }
    .iti__selected-flag{
        padding:0 18px 0 18px;
        &::after{
            content:"";
            display: inline-block;
            height: 20px;
            width: 2px;
            background-color: map-get($map: $color-map, $key: black-40);
            margin-left: 18px;
        }
    }
    .iti--separate-dial-code .iti__selected-dial-code{
        margin-left: 11px;
        font-size: 16px;
        color: map-get($map: $color-map, $key: black-40);
    }
    .iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag{
        background-color: transparent;
    }
    .iti__arrow{
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 12px;
        height: 7px;
        border: none;
        margin-left: 16px;
    }
    #mobile_code{
        padding-left:144px !important;
    }
    .password-field{
        .eye-icon{
            cursor: pointer;
        }
    }
}

/* purgecss end ignore */ 