header{
	position: relative;
	z-index: 888;
	padding:24px 48px;
	background-color: map-get($map: $color-map, $key: bg-primary);

	@include media-breakpoint-down(sm){
		padding:24px 20px;
	}
	.nav-height{
		height: 85px;
		@include media-breakpoint-down(md){
			height: 52px;
		}
	}
	
	nav{

		@include media-breakpoint-down(lg){
			height: 273px;
		}

		@include media-breakpoint-down(sm){

		}
		
		transition:height 500ms ease;
		@include media-breakpoint-down(lg){
			row-gap: 6px;
    		overflow: hidden;
			
		}
		
		.logo{
			img[alt="logo"]{
				width: 171px;
				height: 80px;
				object-fit: contain;
			}
			

			@include media-breakpoint-down(md){
				img[alt="logo"]{
					width:110px;
					height: 49px;
				}
			}
			.nav-icon{
				background-color: map-get($map: $color-map, $key: btn-bg);
				padding:10px;
				border-radius: 12px;
				border: 1px solid map-get($map: $color-map, $key: btn-border);
				@include media-breakpoint-down(sm){
					padding: 7px;
					border-radius: 9px;
				}
				img{
					width: 41px;
					@include media-breakpoint-down(sm){
						
						width: 36px;
					}
					
				}
			}

		}
		

		.header-content{
			z-index: 999;

			@include media-breakpoint-down(lg){

				
			}
			.search{
				position: relative;
				margin-inline-end: 8px;
				@include media-breakpoint-down(lg){
					margin-inline-end:0;
				}
				img{
					position: absolute;
					top:14px;
					left: 18px;
				}
				input{

					width: 283px;
					padding:9px 14px 12px 48px;
					border: 1px solid map-get($map: $color-map, $key: btn-border);
					background-color:map-get($map: $color-map, $key: btn-bg);
					border-radius: 100px;
					border: none;
					transition:all 400ms ease;
					color:map-get($map: $color-map, $key: search-placeholder);
					
					&:hover{
						background-color: map-get($map: $color-map, $key: black);
					}
					&:focus{
						
						width: 340px;
						outline: 0;
					}
					&::placeholder{
						color:map-get($map: $color-map, $key: bone-10);
						font-size:13px;
						font-weight: 300;
					}
				} 
			}
			.lang-switcher{
				background-color: rgb(0,0,0, 0.2);
				border: 1px solid map-get($map: $color-map, $key: btn-border);
				color:map-get($map: $color-map, $key: search-placeholder);
				border-radius: 16px;
				padding:12px 24px;
				height: 48px;
				margin-inline-end:12px;
				text-decoration: none;
				
				font-family: var(--GE_SS_Two);
					html[dir="rtl"] & {
						font-family: var(--primary-font);
					}
				
				label{
					cursor: pointer;
					font-family: var(--primary-font);
				}

				@include media-breakpoint-down(lg){
					margin-inline-end:0;
				}

				
			}
			.btn-large{
				width: 262px;
				white-space: nowrap;
				background-color: map-get($map: $color-map, $key: mobilebtn-bg);
				display: inline-block;
				position: relative;
				overflow: hidden;
				transition:all 500ms linear;
				&::before{
					content:"";
					position: absolute;
					display: block;
					width: 100px;
					height: 100px;
					top: -16px;
					inset-inline-start: -194px;
					background-color: map-get($map: $color-map, $key: mobilebtn-bg);
					border-radius: 50%;
					opacity: 100%;
					transition: all 300ms linear;

				}

				img{
					top: 15px;
					transform:rotate(180deg);
					inset-inline-end: 35px;
					opacity: 0%;
					transition:all 300ms linear;
					html[dir="rtl"] & {
						transform: scaleX(1);
					}
				}

				&:hover{

					font-size: 16px;
					padding-inline-start:16px;

					img{
						inset-inline-end: 20px;
						opacity: 100%;
						@include media-breakpoint-down(lg){
							inset-inline-end: 10px;
						}
					}

					&::before{
						content:"";
						display: block;
						width: 325px;
						height: 300px;
						top: -57px;
						inset-inline-start: -26px;
						background-color:rgb(233 247 243);
						opacity: 15%;
					}
				}

				@include media-breakpoint-down(lg){
					width: 100%;
					background-color: map-get($map: $color-map, $key: mobilebtn-bg);
				}
				
			}
			@include media-breakpoint-down(md){
				display:none;
			}
		}
	}

}

.header-content{
	z-index: 999;
}

.purchase-major-guide{
    position: absolute;
    border-radius: 32px;
	box-shadow: 0 0 13px rgb(0, 0, 0, 0.2);
    z-index: 99999;
    top: -600px;
    inset-inline-start: 36%;
    background-color: white;
	transition: top 500ms linear;
	@include media-breakpoint-down(xxl){
		inset-inline-start: 25%;
	}
	@include media-breakpoint-down(xl){
		inset-inline-start: 17%;
	}
	@include media-breakpoint-down(lg){
		inset-inline-start: 5%;
	}
	@include media-breakpoint-down(md){
		inset-inline-start: 10px;
		inset-inline-end: 10px;
	}

    .close{
        width: 40px;
        height: 40px;
        top:-40px;
        right:-40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
		cursor: pointer;
		box-shadow: 0 0 13px rgb(0, 0, 0, 0.2);
		@include media-breakpoint-down(lg){
			top:7px;
			right:7px;
		}
    }
    .purchase-major-guide-content{
        max-width: 753px;
        align-items: stretch;
		@include media-breakpoint-down(lg){
			flex-direction: column;
		}
        .popup-img{
			
            background-color: map-get($map: $color-map, $key: s-green-100);
            border-radius: 32px 45px 0px 32px;
			img{
				height: 100%;
				width: 352px;
				object-fit: fill;
			}
			html[dir="rtl"] & {
				border-radius: 32px 27px 0 32px;
			}
        }
        .popup-text{
            padding:50px 70px;
			@include media-breakpoint-down(lg){
				padding:30px;
			}
            img{
                margin-bottom:20px
            }
            h6{
                font-size: 30px;
                // font-family: var(--secondary-font);
                color: map-get($map: $color-map, $key:Maroon-90);
				margin-bottom: 10px;
                span{
                    // font-family: var(--secondary-font);
                    font-size: 30px;
                    font-weight: 700;
                }
            }
            p{
                font-size:16px;
				margin-bottom:25px;
            }
			a{
				padding:16px 40px;
			}
        }
    }

}

.full-page-overlay {
    position: fixed;  /* Stays in place */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    z-index: 999; /* Ensure it's above everything */
   
}

.full-page-overlay-filter{
	position: fixed;  /* Stays in place */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
	z-index:999 !important /* Ensure it's above everything */
}

