  /* purgecss start ignore */ 
.homepage-modal{
    z-index: 999999999;
    .modal-dialog{
        max-width: 1086px;
       
        .modal-content{
            border-radius: 34px;
            // overflow: hidden;
            .btn-close{
                position: absolute !important;
                top: -50px;
                inset-inline-end: -48px;
                background-color: white;
                opacity: 100%;
                padding: 14px;
                font-size: 14px;
                border-radius: 50%;
                z-index: 99999;
                @include media-breakpoint-down(xl){
                    border-radius: 0;
                    top: 0;
                    inset-inline-end: 0;
                    background-color: transparent;
                }
            }
            .modal-body{
                padding: 0;
                > img{
                    width: 408px;
                    height: auto;
                    object-fit: cover;
                    border-radius: 34px;
                }
                @include media-breakpoint-down(lg){
                    flex-direction: column;
                    align-items: center;
                    > img {
                        display: none;
                    }
                }
                .homepage-modal-content{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding:70px;
                    @include media-breakpoint-down(md){
                        padding:35px;
                    }
                    @include media-breakpoint-down(sm){
                        padding:35px 15px;
                    }
                    .home-page-logo{
                        width: 337px;
                        height: 116px;
                        object-fit: cover;
                        margin-top:32px;
                        margin-bottom: 32px;
                        @include media-breakpoint-down(sm){
                            width: 60%;
                        }
                    }
                    p{
                        max-width: 494px;
                        font-size: 16px;
                        color: map-get($map: $color-map, $key: black-90);
                        text-align: center;
                        margin-bottom: 32px;
                        
                    }
                    .homepage-modal-btn{
                            max-width: 418px;
                            width: 100%;
                            text-align: center;
                            padding:15px;

                            @include media-breakpoint-down(sm){
                                max-width: 240px;

                            }
                    }
                }
            }
        
        }
        

    }
    
  }
/* purgecss end ignore */ 

.hero-section{
    height: 940px;
    position:relative;
    header{
        background-color: transparent;
        
        @include media-breakpoint-down(lg){
            background-color:map-get($map: $color-map, $key:primary);
        }
    }
    // background: url('../images/hero-banner-video.mp4');
 
    .video-slider{
        margin-top:-133px;
        overflow-x: hidden;
        @include media-breakpoint-down(lg){
            margin-top:0;
        }
        img{
            width: 100%;
            height: 940px;
            object-fit: cover;
            @include media-breakpoint-down(sm){
                height: 700px;
            }
        }
    }

    .videoContent{
        button{
            background: none;
            border: none;
            z-index: 99;
            cursor: pointer;
            bottom: 135px;
            inset-inline-start: 222px;

            @include media-breakpoint-down(sm){
                bottom:270px;
                inset-inline-start: 150px;
            }

            .play{
                width:30px;
                    @include rtl{
                        transform: rotate(180deg);
                    }

            }
        }
        .arrowDown{
            z-index: 9999998;
            position: absolute;
            bottom: 26px;
            left: 47%;
            right: auto;
            mix-blend-mode: soft-light; 


            @include media-breakpoint-down(xl){
                
                display: none !important;
            }
            @include media-breakpoint-down(sm){
                left:42%;
            }
            .line-arrow{
                width: 2px;
                height: 60px;
                background-color: white;
               
            }
        }
    }

   

    .videoContent::before{
        content:"";
        width: 100%;
        height: 940px;
        background-color: #503f3f;
        background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.8) 78.55%, #181818 157.1%);
        position: absolute;
        top: 0;
        z-index: 99;

        @include media-breakpoint-down(sm){
            height: 700px;
            top:104px;
        }
    }

  /* purgecss start ignore */ 


   @include sliderDots(bone120, black40);

   .slick-dots{
        bottom:130px;
        margin:0 80px;
    
        @include media-breakpoint-down(lg){
            margin:0 23px;
            bottom:230px;
        }
        @include media-breakpoint-down(sm){
            margin:0 17px;
            bottom:130px;
        }

    }
/* purgecss end ignore */
    .videoSliderMargin{
		margin-top:-321px;
	}

  


    video{
        z-index: -1;
        top: 0;
        height: 940px;
        width: 100%;
        object-fit: cover;

        &::before{
            content:"";
            position: absolute;
            top: 0;
            inset-block-start: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 88888;

        }

        @include media-breakpoint-down(sm){
            height: 700px;
        }
       
    }
    
}

.hero-section{
    
    .hero-content{
        position: absolute;
        max-width: 600px;
        top:290px;
        inset-inline-start: 80px;
        z-index: 888;
        @include media-breakpoint-down(lg){
            inset-inline-start: 25px;
        }
        @include media-breakpoint-down(md){
            inset-inline-start: 15px;
            max-width: 360px;
        }
        @include media-breakpoint-down(sm){
            top:222px;
        }
       
        span{
            padding:10px 16px;
            color:map-get($map: $color-map, $key: bistre-30);
            background: map-get($map: $color-map, $key: btn-bg);
            border-radius: 40px;
            font-weight: 700;
            font-size: 19px;
            margin-bottom:28px;
        }
        h1{
            color: map-get($map: $color-map, $key: white);
            // font-family: var(--secondary-font);
            font-weight: 700;
            font-size: 70px;
            line-height: 74px;
            margin-bottom:38px;
            margin-top: 18px;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            html[dir="rtl"] & {
                line-height: 88px;
            }

            @include media-breakpoint-down(md){
                font-size:43px; 
                line-height: 43px;
        
            }

        }
        p{
            color: map-get($map: $color-map, $key: hero-subtitle);
            font-size:20px;
            margin-bottom:42px;
            font-weight: 500;
        }
        .hero-btn{
            display: inline-block;
            text-decoration: none;
            border: 0;
            color: map-get($map: $color-map, $key:d-maroon);
            position: relative;
            overflow: hidden;
            transition:all 300ms linear;

            &::before{
                content:"";
                position: absolute;
                display: block;
                width: 100px;
                height: 100px;
                top: -16px;
                inset-inline-start: -194px;
                background-color: map-get($map: $color-map, $key: mobilebtn-bg);
                border-radius: 50%;
                opacity: 100%;
                transition: all 300ms linear;

            }

            img{
                top: 18px;
                transform:rotate(180deg);
                inset-inline-end: -30px;
                opacity: 0%;
                transition:all 300ms linear;
                html[dir="rtl"] & {
                    transform: scaleX(1);
                }

            }

            &:hover{

                font-size: 16px;
                padding-inline-end:50px;

                img{
                    inset-inline-end: 20px;
                    opacity: 100%;
                    @include media-breakpoint-down(lg){
                        inset-inline-end: 10px;
                    }
                }

                &::before{
                    content:"";
                    display: block;
                    width: 325px;
                    height: 300px;
                    top: -57px;
                    inset-inline-start: -26px;
                    background-color:rgb(233 247 243);
                    opacity: 15%;
                    
                }
            }

        }
      
        
    }
}


.section-title{
    // font-family: var(--secondary-font);
    font-weight: 700;
    line-height: 80px;
    font-size:40px;
    color: map-get($map: $color-map, $key: section-title);
    text-align: center;
    margin-bottom:49px;
    @include media-breakpoint-down(sm){
        font-size:24px;
        line-height: 55px;
        height: 60px;
        margin-bottom:30px;
    }
    span{
        background:url(../images/border-line.png);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        display: inline-block;
        padding:0 7px 0 0;
        // font-family: var(--secondary-font);
        font-size:40px;
        color: map-get($map: $color-map, $key: primary);
        @include media-breakpoint-down(sm){
            font-size:30px;
        }
    }
}


.social-links{
        display: inline-block;
        position:sticky !important;
        top:57px;
        inset-inline-start:63px;
        z-index: 9999;
        transform:translate(0, -58px);
        @include media-breakpoint-down(xl){
            inset-inline-start: 20px;
            display: none;
        }
    .social-links-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 8px;
        > img{
            width: 1px;
        }
        .social-site{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: map-get($map: $color-map, $key: bone-10);
            border-radius: 50%;
            width:41px;
            height: 41px;
        }
    }
}


.steps{
    position: relative;
    z-index: 99;
    padding:80px 0 120px;
    background-color: rgba(240, 233, 225, 1);
    border-radius: 40px 40px 0 0;
    margin-top: -430px;

    @include media-breakpoint-down(xl){
        margin-top: -56px;
    }

    @include media-breakpoint-down(sm){
        margin-top:-190px;
        padding:35px 0;
    }

   
   
    .steps-content{
        align-items: center;
    }
    
    .step{
        display:flex;
        flex-direction: column;
        align-items: center;
        max-width: 386px;
        background-color: map-get($map: $color-map, $key: white);
        padding:50px 31px 0;
        border: 1px solid map-get($map: $color-map, $key: box-border-color);
        border-radius: 30px;

        @include media-breakpoint-down(sm){
            padding-top:25px;
        }

        img{
            width: auto;
            height: 67px;
            object-fit: contain;
            margin-bottom:58px;
            transition:all 500ms ease;
            @include media-breakpoint-down(sm){
                margin-bottom: 36px;
            }
        }
        h3{
            // font-family:var(--secondary-font);
            font-size:22px;
            font-weight: 700;
            color: map-get($map: $color-map, $key: primary);
            text-align: center;
            margin: auto;
            margin-bottom:20px;
            transition:color 900ms ease;
            max-width: 355px;
            width: 100%;
            height: 26px;
            display: -webkit-box;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;


        }
        p{
            text-align: center;
            font-weight: 300;
            line-height: 27px;
            margin: auto;
            margin-bottom:0;
            max-width: 355px;
            width: 100%;
            height: 81px;
            display: -webkit-box;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;

        }
    }
}

.steps{
    
    .step-wrapper{
        width: 100%;
        .connector{
            width: 21px;
            height: 75px;
            background:white;
            inset-inline-end:-20px;
            top:68px;
            z-index: 1;

            &::before{
                content:"";
                background-color: map-get($map: $color-map, $key: bone);
                position:absolute;
                border: 1px solid map-get($map: $color-map, $key: box-border-color);
                border-top: 0;
                width:20px;
                height:25px;
                border-radius: 0 0 12px 12px;

            }
            &::after{
                content:"";
                background-color: map-get($map: $color-map, $key: bone);
                position:absolute;
                width:20px;
                height:25px;
                border-radius: 12px 12px 0 0;
                top:68px;
                border: 1px solid map-get($map: $color-map, $key: box-border-color);
                border-bottom : 0;

            }

            @include media-breakpoint-down(lg){
                display: none;
            }
        

        }


        .step{
            min-height: 346px;
            max-width: 100%;
            overflow: hidden;
            z-index:auto;
            transition:all 1s ease;

            @include media-breakpoint-down(sm){
                min-height: 310px;
            }

            .step-desc{
                width: 100%;
                height: 128px;
                overflow: hidden;
                transition: all 800ms ease;
                a.btn-large{
                    display: block;
                    text-decoration:none;
                    width: 100%;
                    border: 0;
                    color:map-get($map: $color-map, $key:black-80);
                    // width: 150px;
                    background-color: map-get($map: $color-map, $key: bone);
                    transition: all 700ms ease;
                }
            }
            &:hover{
    
                z-index: 1;
                // background-color: map-get($map: $color-map, $key: primary);
    
                img{
                 
                    margin-bottom:20px;
                    filter: sepia(1);
                    transform: scale(1.3);
                }

    
                .step-desc{
                    height:200px;
                    color: map-get($map: $color-map, $key: hero-subtitle);
                    h3{
                        color: map-get($map: $color-map, $key: hero-subtitle);
                    }
                    a.btn-large{
                        width: 100%;
                        margin-top:10px !important;
                    }
                }
    
                &::before{
                    content:"";
                    position: absolute;
                    opacity: 100%;
                    width: 612px;
                    height: 612px;
                    background-color: map-get($map: $color-map, $key: primary);
                    z-index: -1;
                    top: -114px;
                    inset-inline-end:-58px; 
                    border-radius: 50%;  

                    @media (max-width: 991px) and (min-width: 767px) {
                        width: 930px;
                        height: 660px;
                        top:-160px;
                    }
                    @include media-breakpoint-down(md){
                        top: -135px;
                    }
                  
                }
    
            }
    
            &::before{
                content:"";
                display: block;
                position: absolute;
                opacity:40%;
                width: 386px;
                height: 346px;
                background-color: map-get($map: $color-map, $key: primary);
                z-index: -1;
                top: -235px; 
                inset-inline-end:-346px;
                border-radius: 50%; 
                transition:all 500ms ease-in-out;  
                
            }
        }
    }
   
    
}

/* purgecss start ignore */

.career-stages{
    padding: 100px 0 70px;
    position: relative;
    overflow: hidden;

    @include media-breakpoint-down(sm){
        padding:50px 0 70px;
    }

    .stage-popup-wrapper{
        .cross{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color:map-get($map: $color-map, $key: white);
            width: 40px;
            height: 40px;
            top: -26px;
            inset-inline-end: -48px;
            cursor: pointer;

            @include media-breakpoint-down(md){
                top:7px;
                inset-inline-end: 7px;
            }

        }
        padding:50px 70px;
        max-width: 598px;
        position: absolute;
        z-index: 9999;
        border-radius: 35px;
        top:217px;
        transition: inset-inline-end 200ms linear;
        inset-inline-end: -660px;
        background-color:map-get($map: $color-map, $key: white);



    }
    .stage-popup{
       text-align: center;
      
       h5{
            // font-family: var(--secondary-font);
            font-size: 30px;
            color: map-get($map: $color-map, $key:Maroon-90);
            margin-top:32px;
            margin-bottom:20px;
       }
       p{
            margin-bottom: 32px;
            font-size: 16px;
            color: map-get($map: $color-map, $key: black-80);
        }
       a{
        text-decoration: none;
       }
    }
    

    .section-title{
        background:url('../images/border-line.png');
        background-repeat:no-repeat;
        background-position: bottom center;

    }
        .stages-container{
                max-width: 1480px;
                margin: 0 auto;
                padding:0 15px;
            
            .stages{
                
                background: url('../images/zigzag.png');
                background-size: auto;
                background-repeat:no-repeat;
                background-position:center 60px;
                height: 470px;
                column-gap: 68px;
                @include media-breakpoint-down(xxl){
                     background: url('../images/zigzag-for-below-1400.png');
                     background-repeat:no-repeat;
                     background-position:center 60px;
                }
                @include media-breakpoint-down(xl){
                    background:none;
                    flex-wrap: wrap;
                    height: auto;
                }
                @include media-breakpoint-down(sm){
                    row-gap: 30px;
                }
                .stage{
                    display: flex;
                    flex-direction: column;
                    max-width: 231px;
                    align-items: center;
                    h6{
                        color:map-get($map: $color-map, $key: bistre-90);
                        margin-bottom: 20px;
                    }
                    .number{
                        cursor: pointer;
                        background-color: map-get($map: $color-map, $key: bistre-40);
                        width: 50px;
                        height: 50px;
                        border:4px solid white;
                        font-weight: 500;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        margin-bottom:32px;
                    }

                    p{
                        text-align: center;
                    }
                    .title{
                        white-space: nowrap;
                        max-width: 291px;
                        height: auto;
                        display: -webkit-box;
                        line-clamp: 1;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        color: map-get($map: $color-map, $key:Maroon-90);
                        font-weight: 700;
                        font-size: 16px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        > img{
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .description{
                        height: 81px;
                        display: -webkit-box;
                        line-clamp: 3;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                .stage.odd{
                    margin-bottom:88px;
                    @include media-breakpoint-down(sm){
                        margin-bottom: 0;
                    }
                }

            }
        }
}



/* purgecss end ignore */
.partners{

    padding:100px 0 200px;
    max-width: 1920px;
    margin: 0 auto;

    @include media-breakpoint-down(sm){
        padding: 50px 0 153px;
    }

    .partners-title{
        margin-bottom:55px;
        @include media-breakpoint-down(sm){
            margin-bottom: 30px;
        }
        img{
            @include media-breakpoint-down(sm){
                width: 256px;
            }
        }
        h2{
            // font-family:var(--secondary-font);
            font-size:26px;
            font-weight:700;
            color:map-get($map: $color-map, $key: bistre);

            @include media-breakpoint-down(sm){
                font-size:18px;
            }

        }
    }
    .partners-subtitle{
        p{
            max-width: 541px;
            font-size: 20px;
            margin:0 auto 80px;

            @include media-breakpoint-down(sm){
                margin: 0 auto 45px;
            }

        }
    }
    .partners-logo-slider{
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // justify-self:center;
        // column-gap: 24px;
        // row-gap: 24px;
        .item{

            margin:0 12px;
           
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 100%;
                width: 100%;
                @include media-breakpoint-down(sm){
                    max-width: 90%;
                }
            }
            display: flex;
            justify-content: center;
            align-items: center;
            border:1px solid map-get($map: $color-map, $key: bone);
            border-radius: 12px;
            padding:8px 40px;
            height: 100px;

            
            // &:nth-of-type(4){
            //     padding:16px 40px
            // }
            // &:nth-of-type(5){
            //     padding:16px 40px
            // }
            // @include media-breakpoint-down(sm){
            //     width: 100%;
            //     img{
            //         width: 100%;
            //     }
            // }
            // img{
            //     width: 100%;
            // }
        }
    }

}

.success-stories{
    position: relative;
    z-index: 99;
    padding:80px 0 190px;
    background: url(../images/zigzag-line.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: map-get($map: $color-map, $key: primary);
    border-radius: 40px 40px 0 0;
    margin-top: -100px;
    @include media-breakpoint-down(sm){
        padding: 36px 0 140px;
    }
    h2{
        background: url(../images/clip-path.png);
        background-position: bottom center;
        background-repeat:no-repeat;
        color:map-get($map: $color-map, $key: bone50);

    }

    .story{
        .story-wrapper{
            display: flex;
            column-gap: 12px;
            margin:0px 5px;

            @include media-breakpoint-down(lg){
                flex-direction: column;
                row-gap: 10px;
            }

            .story-single{
                display: flex;
                width: 854px;
                transition:width 500ms linear;
                background-position:bottom right;
                background-repeat: no-repeat;

                html[dir="rtl"] & {
                    background-position: bottom left;
                }

                @include media-breakpoint-down(lg){
                    width: auto;
                    transition:height 500ms linear;
                }
                @include media-breakpoint-down(sm){
                    justify-content: center;
                    flex-direction: column-reverse;
                    align-items: center;
                }

                .text-desc{
                    opacity: 0;
                    transition: opacity 1000ms linear;

                    h4{
                        font-size: 22px;
                        font-weight: 700;
                        color: map-get($map: $color-map, $key: Maroon-90);
                        margin-bottom: 6px;
                    }
                  
                }

              
                p{
                    z-index: 9999;
                }
                img{
                    width: 457px;
                    height: 454px;
                    bottom:0;
                    right:0;
                    filter: grayscale(1);
                   
                    @include media-breakpoint-down(xl){
                        width: 257px;
                        height: auto;
                    }
                    @include media-breakpoint-down(sm){
                        width: 163px;
                        height: auto;
                    }
                
                }

                .readmore-btn{
                    position: relative;
                    overflow: hidden;
                    transition: all 500ms ease;
                    text-decoration: none;
                    display: inline-block;

                    &::before{
                        content:"";
                        position: absolute;
                        display: block;
                        width: 100px;
                        height: 100px;
                        top: -16px;
                        inset-inline-start: -194px;
                        background-color: map-get($map: $color-map, $key: mobilebtn-bg);
                        border-radius: 50%;
                        opacity: 100%;
                        transition: all 300ms linear;
        
                    }
        
                    img{
                        width: auto;
                        top: 20px;
                        transform:rotate(180deg);
                        inset-inline-end: -30px;
                        opacity: 0%;
                        transition:all 300ms linear;
                        width: 19px;
                        height: 17px;
                        html[dir="rtl"] & {
                            transform: scaleX(1);
                        }
                    }
        
                    &:hover{
        
                        // font-size: 16px;
                        padding-inline-end:50px;
        
                        img{
                            inset-inline-end: 18px;
                            opacity: 100%;
                            @include media-breakpoint-down(lg){
                                inset-inline-end: 10px;
                            }
                        }
        
                        &::before{
                            content:"";
                            display: block;
                            width: 325px;
                            height: 300px;
                            top: -57px;
                            inset-inline-start: -26px;
                            background-color:rgb(233 247 243);
                            opacity: 15%;
                            
                        }
                    }
                }



            }
           
            .story-single.story-collapse{

                padding-top:35px;
                max-height: 481px;
                min-height: 481px;
                width: 156px;
                overflow: hidden;
                border-radius: 12px;
                background-color: map-get($map: $color-map, $key: black-80);
                cursor: pointer;
                .text-desc{
                    opacity: 0;
                }
                @include media-breakpoint-down(lg){
                    width: 100%;
                    max-height: 99px;
                    min-height: auto;
                    height: 99px;
                    padding-top:0;
                    justify-content: center;
                }

                img{
                    top: 40px;
                    width: auto;
                    height: 445px;
                    right:-96%;
                    
                    html[dir="rtl"] & {
                        
                        transform: scaleX(-1);
                    }
                    // @include media-breakpoint-down(xl){
                    //     right: -133%;
                    // }
                    // @include media-breakpoint-down(lg){
                    //     right:128px;
                    //     top:-48px
                    // }
                    // @include media-breakpoint-down(md){
                    //     right: 33px;
                    // }
                    @include media-breakpoint-down(lg){
                        right: auto;
                        left: auto;
                        height: 197px;
                        top:-8px;
                    }
                }
                
            }
            
            .story-expanded{
                background-color: map-get($map: $color-map, $key: bone50);
                // max-width: 100%;
                width:854px;
                max-height: 481px;
                min-height: 481px;
                overflow: auto;
                border-radius: 22px 100px 22px 22px;
                padding: 30px 0 0;
                overflow: hidden;

                @include media-breakpoint-down(xl){
                    background-size: 35%;
                }
                @include media-breakpoint-down(lg){
                    width: auto;
                }

                @include media-breakpoint-down(sm){
                    padding:5px 0 0;
                    min-height: 450px;
                    background-size: 140px;
                    background-position: bottom right;
                }
                .text-desc{
                    // display: block;
                    opacity: 100%;
                }
                p{
                    display:-webkit-box;  /* Required for line-clamp */
                    line-clamp: 6;
                    -webkit-line-clamp: 6; /* Number of lines to show */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    // font-family:var(--secondary-font);
                    font-size: 26px;
                    padding-block-start:20px;
                    padding-inline-end:0;
                    padding-block-end:20px;
                    padding-inline-start:60px;
                    max-width: 486px;

                    @include media-breakpoint-down(md){
                        padding-block-start:10px;
                        padding-inline-end:0;
                        padding-block-end:0;
                        padding-inline-start:20px;
                        font-size: 20px;
                        margin-bottom:5px;
                    }   
                    span{
                        font-size: 26px;
                        color: map-get($map: $color-map, $key: Maroon-90);
                        @include media-breakpoint-down(md){
                            font-size: 20px;
                        }
                    }
                }

                img{
                    html[dir="rtl"] & {
                        right: auto;
                        left: 0;
                        transform: scaleX(-1);
                    }
                }


                h4{
                    display: block;
                    padding-block-start:0;
                    padding-inline-end:0;
                    padding-block-end:0;
                    padding-inline-start:60px;
                    @include media-breakpoint-down(md){
                        font-size:20px;
                        padding-block-start:0px;
                        padding-inline-end:0;
                        padding-block-end:0;
                        padding-inline-start:20px;
                        
                    }  
                   
                }
                h5{
                    display: block;
                    padding-block-start:0;
                    padding-inline-end:0;
                    padding-block-end:0;
                    padding-inline-start:60px;
                    margin-bottom:16px;
                    @include media-breakpoint-down(md){
                        font-size:20px;
                        padding-block-start:0px;
                        padding-inline-end:0;
                        padding-block-end:0;
                        padding-inline-start:20px;
                    }  
                }

                // img{
                //     max-width: 100%;
                //     width: 456px;
                //     object-fit: cover;
                //     @include media-breakpoint-down(md){
                //         width:100px;
                //     }
                //     @include media-breakpoint-down(sm){
                //         width:175px;
                //     }
                // }
                a{
                    margin-inline-start:60px;
                    border: 0;
                    display: block;
                    padding:16px 25px;
                    @include media-breakpoint-down(md){
                        margin-inline-start: 20px;
                        margin-bottom:25px;
                    }
                }
            }
        }
    }

}
/* purgecss start ignore */
.successStories{
    
    max-width: 1190px;
    margin: 0 auto;
    @include sliderDots(bone, bistre-80);

    .slick-prev{
        inset-inline-start: -173px;
        @media(max-width:1590px){
            inset-inline-start: -73px;
        }
        &::before{
            content:"";
            background-color: white !important;
            background: url('../images/icons/arrow-cap-left.png');
            background-repeat:no-repeat;
            background-position: center;
            font-family: "Font Awesome 6 Free", sans-serif;
            font-size: 18px;
            color:#503f3f;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid map-get($map: $color-map, $key:Bone-70);
            width: 56px;
            height:56px;       
            border-radius: 50%;  
            @include rtl{
                transform:rotate(180deg);
            }    
           
          }
          @include media-breakpoint-down(lg){
            display: none !important;
          }
    }

    .slick-next{
        inset-inline-end:-151px;
        @media(max-width:1590px){
            inset-inline-end: -36px;
        }
        &::before{
            content:"";
            background-color: white !important;
            background: url('../images/icons/arrow-cap-right.png');
            background-repeat:no-repeat;
            background-position: center;
            font-family: "Font Awesome 6 Free", sans-serif;
            font-size: 18px;
            color:#503f3f;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid map-get($map: $color-map, $key:Bone-70);
            width: 56px;
            height:56px;       
            border-radius: 50%;   
            @include rtl{
                transform:rotate(180deg);
            }   
        }

    }

    .slick-next.slick-arrow.slick-disabled{
        &::before{
            background-color: map-get($map: $color-map, $key: maroon-40);
        }
    }
    .slick-prev.slick-arrow.slick-disabled{
        &::before{
            background-color: map-get($map: $color-map, $key: maroon-40);
        }
    }
   

}

/* purgecss end ignore */ 
.testimonial-slider{

    .testimonial-item{
        display: flex;
        margin:0 8px;
        column-gap: 16px;
        .hidden.sliderOnevideo{
            display: none;
                .red#open{
                    padding: 0 !important;
                }
        }


      .video-thumnail{

        @include media-breakpoint-down(md){
            display: none;
        }
        .thumbnail-label{
            bottom:47px;
            inset-inline-start: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 25px;
            cursor: pointer;
            
            span{
                color: map-get($map: $color-map, $key: bone-10);
                letter-spacing: 2px;
                font-weight:300;
                font-size: 16px;
            }
            .playCircle-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 78px;
                height: 78px;
                border-radius:50%;
                border: 1px solid map-get($map: $color-map, $key: search-box-border);
                z-index: 999999999;
                .playCircle{
                    background-color: map-get($map: $color-map, $key: play-btn-bg);
                    width: 65px;
                    height: 65px;
                    border-radius:50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        html[dir="rtl"] & {
                            transform:scaleX(-1);
                        }
                    }
                }
            }
        }

        > img{
            width: 456px;
            // height: 529px;
            height: 100%;
            border-radius: 20px;
            @include media-breakpoint-down(lg){
                width: 327px;
            }
            @include media-breakpoint-down(md){
                width:100%;
                height: auto;
            }
        }
        
    }


        @include media-breakpoint-down(md){
            flex-direction: column;
            row-gap: 15px;
          
        }

        @include media-breakpoint-down(md){
            margin:0 15px;
        }


       

     

        .testimonial-text{
            position: relative;
            padding:50px;
            background-color: map-get($map: $color-map, $key: Bone-70);
            // max-width:651px;
            width: 100%;
            max-width: 100%;
            border-radius: 20px;
            p{
                display: -webkit-box;
                line-clamp: 8;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
                overflow: hidden;
                // font-family: var(--secondary-font);
                font-size: 26px;
                color:map-get($map: $color-map, $key: white);
                line-height: 34px
            }  
            h4{
                font-size: 22px;
                color:map-get($map: $color-map, $key: white);
            } 
            span{
                font-size: 18px;
                color:map-get($map: $color-map, $key: white);
            }    
            
           @include media-breakpoint-down(xl){
                padding:30px;
                p{
                    font-size:18px;
                }
                h4{
                    font-size: 18px;
                }
            }
            .thumbnail-label{
                inset-inline-end: 26px;
                inset-block-end:19px;
            }

            .playCircle-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 78px;
                height: 78px;
                border-radius:50%;
                border: 1px solid map-get($map: $color-map, $key: search-box-border);
                z-index: 999999999;
                .playCircle{
                    background-color: map-get($map: $color-map, $key: play-btn-bg);
                    width: 65px;
                    height: 65px;
                    border-radius:50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        html[dir="rtl"] & {
                            transform:scaleX(-1);
                        }
                    }
                }
            }
            
        }

        // @include media-breakpoint-down(lg){
        //     .testimonial-text{
        //         display: none
        //     }
        // }
    }


}

 /* purgecss start ignore */
.testimonial-slider{
   
   @include sliderDots(green, green-40);
   .slick-dots{
        inset-inline-start: -375px;
   }

   @media (max-width:1600px){
    .slick-dots{
        inset-inline-start: 15px;
    }
   }

   .slick-prev {
        top: -80px;
        inset-inline-end: 370px;
        inset-inline-start: auto;
        // @include rtl(){
        //     inset-inline-end: 230px;
        // }
        @include media-breakpoint-down(lg){
            inset-inline-end: 215px;
        }
        &::before{
            content:"";
            background: url('../images/icons/arrow-cap-left.png');
            background-repeat:no-repeat;
            background-position: center;
            font-family: "Font Awesome 6 Free", sans-serif;
            font-size: 18px;
            color:#503f3f;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid map-get($map: $color-map, $key:Bone-70);
            width: 56px;
            height:56px;       
            border-radius: 50%;  
            @include rtl{
                transform:rotate(180deg);
            }    
           
          }
          @include media-breakpoint-down(lg){
            display: none !important;
          }
    }
    .slick-next {
        top: -80px;
        inset-inline-end: 300px;
        @include media-breakpoint-down(lg){
            inset-inline-end:140px;
        }
        &::before{
            content:"";
            background: url('../images/icons/arrow-cap-right.png');
            background-repeat:no-repeat;
            background-position: center;
            font-family: "Font Awesome 6 Free", sans-serif;
            font-size: 18px;
            color:#503f3f;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid map-get($map: $color-map, $key:Bone-70);
            width: 56px;
            height:56px;       
            border-radius: 50%;   
            @include rtl{
                transform:rotate(180deg);
            }   
            
          }

           @include media-breakpoint-down(lg){
            display: none !important;
          }

    }
}
/* purgecss end ignore */

.testimonial-content{
    // column-gap: 50px;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
    row-gap: 30px;

    @media(min-width:2000px){
        max-width: 1920px;
        margin: 0 auto;
    }

    @media(max-width:1400px){
        grid-template-columns: 100%; 

    }
    @include media-breakpoint-down(md){
        // align-items: start;
    }
}

.testimonial{
    background-color: map-get($map: $color-map, $key: G-Sheen-30);
    padding-top:75px;
    padding-inline-end:0;
    padding-bottom:160px;
    padding-inline-start:80px;
    border-radius: 40px 40px 0 0;
    margin-top:-39px;
    position: relative;
    z-index: 99;

    @media (max-width: 1600px){
        padding-inline-start: 31px;
    }
    @media (max-width:1400px){
        padding-inline-end: 4px;

    }
    @include media-breakpoint-down(xl){
        padding:65px 15px 160px 15px;
    }

    // @include media-breakpoint-down(lg){

    //     padding:65px 15px 160px 15px;

    // }
    @include media-breakpoint-down(md){
        padding:65px 0 57px 0px;  
    }
    @include media-breakpoint-down(sm){
        padding:30px 0 57px 0px;  
    }
    .section-title{
        text-align: start;
        @media(min-width:2000px){
            max-width: 1920px;
            margin: 0 auto;
        }
       
        color: map-get($map: $color-map, $key:maroon-80);
        @include media-breakpoint-down(md){
            margin-inline-start: 0px;
            text-align: center;
         
        }

    }
        .students{
            justify-content: start;
            max-width: 355px;
            max-height: 539px;
            row-gap: 22px;
            overflow-x: hidden;
            overflow-y: auto;
            @include media-breakpoint-down(md){
                margin-inline-start: 15px;
                max-width: 319px;
            }
            .student{
                display: flex;
                align-items: center;
                column-gap: 23px;

                h6{
                    transition: all 500ms ease;
                }
                
                img{
                    width: 81px;
                    height: 81px;
                    object-fit: cover;
                    border-radius: 18px;
                    filter: grayscale(1);
                }
                
                p{
                    margin-bottom: 0;
                }
            }

            .student:nth-of-type(1){
                img{
                    filter: unset;
                }
            }

            .waveline{
                background: url('../images/zigzag-testimonial.png');
                background-size: auto 11px;
                background-repeat:repeat no-repeat;
                display: block;
                margin-inline-start:-350px;
                width: 100%;
                height: 11px;
                width: 1000px;
                transition:all 2s linear;

            }
        }

        .students::-webkit-scrollbar {
            display: none;
            width: 9px;               /* width of vertical scrollbar */
            height: 9px;              /* height of horizontal scrollbar */
        }

        .students::-webkit-scrollbar-track {
            background: linear-gradient(180deg, #f9f9f9, #e6e6e6);
            border-radius: 10px;
       
        }

        .students::-webkit-scrollbar-thumb {
            background: linear-gradient(180deg, #A14460, #d62b70);
            border-radius: 10px;
            border: 2px solid #f9f9f9; /* creates a little gap around thumb */
        }

        .students::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(180deg, #d62b70, #8a1739);
        }

}

header{
    .header-content{
        button.btn-large{
            background-color: #8A1538;
            @include media-breakpoint-down(lg){
                background-color: map-get($map: $color-map, $key: mobilebtn-bg);
            }
        }
    }
}



